In [1]:
#python Jupyter practice

In [2]:
#first program
print ("Hello World!")

Hello World!

In [3]:
first_name = "Siddharhta"
last_name = "Satyarthi"
#output: My name is first_name last_name

In [4]:
print ("My name is {} {}".format(first_name,last_name))

My name is Siddharhta Satyarthi

In [5]:
#{} are used as a string/variables holders and .format(variable_name) are the initiliazers

In [6]:
#using sep="" and end=""

In [7]:
print("Hello","this","is","Siddhartha","Satyarthi", end = "  @@@  ", sep = " , ")
print("I","am","attending","summer","training","for","Python and ML", end = "   @@@  ", sep = " , ")

Hello , this , is , Siddhartha , Satyarthi  @@@  I , am , attending , summer , training , for , Python and ML   @@@

In [8]:
#taking inputs from the user

In [9]:
a = input()
print(type(a))

hello
<class 'str'>

In [10]:
a = input()
print(type(a))

123
<class 'str'>

In [11]:
#no matter what the input be, the deault argument for the input is a string always
#to make the input specific in argument; syntax: a = int(input ()); for integer inputs and so on...

In [12]:
a = int (input ())
print (type (a))

sid

ValueError: invalid literal for int() with base 10: 'sid'

In [13]:
#error in above because we used int as an variable argument but passed a string value

In [14]:
a = int (input ())
print (type (a))

5
<class 'int'>

In [15]:
# four type of data variables in python
# 1. str for string
# 2. int for integer
# 3. float for floating variable(decimals)
# 4. complex for complex variables (real + imagenary)4
#also to make a multi line comment we use ctrl + / while selecting all the lines to be commented

In [16]:
# basic artihmetic operators
# + for addition
# - for subtraction
# * for multiplication
# % for modulus
# / for division
# // for floor division
# ** for power

In [17]:
a = 4 + 5
print (a)
print (type (a))

9
<class 'int'>

In [18]:
a = 5423.32 + 234.234
print (a)
print (type (a))

5657.554
<class 'float'>

In [19]:
# same for subtraction and multiplication

In [20]:
a = 4.5 / 5
print (a)
print (type (a))
#this leaveas the quoitent as final answer

0.9
<class 'float'>

In [21]:
a = 8.5 % 5
print (a)
print (type (a))
#this leaves the remainder as the final answer

3.5
<class 'float'>

In [22]:
a = 6**34
print (a)
print (type (a))

286511799958070431838109696
<class 'int'>

In [23]:
a = 2234//235
print (a)
print (type (a))
#division (for % and /) will always return a float value but floor division (//) will return integer always

9
<class 'int'>

In [24]:
# comparision operators:
#     == true, if it is equal
#     != true, if not equal
#     < less than
#     > greater than
#     <= less than equal to
#     >= greater than equal to
# assignment operators:
#     =
#     +=
#     -=
#     *=
#     /=
#     %=
#     **=
# logical operators:
#     and
#     or 
#     not

In [25]:
#looking into the control flow

In [27]:
a = int(input())
if (a > 10):
    print ("A is greater than 10")
elif (a == 10):
    print ("A is equal to 10")
else:
    print ("A is less than 10")

15
A is greater than 10

In [28]:
# if-else statement syntax
# if (condition):
#     block
# elif (condition):     elif = else if
#     block
# else (condition):
#     block

In [29]:
a = int( input ())
b = int( input ())
c = int( input ())
if (a > 10):
    print ("A is greater than 10")
    if (b > c):
        print ("B is greater than C")
    elif (b < c):
        print ("B is lesser than C")
    else:
        print ("B is equal to C")
elif (a == 10):
    print ("A is equal to 10")
    if (b > c):
        print ("B is greater than C")
    elif (b < c):
        print ("B is lesser than C")
    else:
        print ("B is equal to C")
else:
    print ("A is less than 10")
    if (b > c):
        print ("B is greater than C")
    elif (b < c):
        print ("B is lesser than C")
    else:
        print ("B is equal to C")

15
20
25
A is greater than 10
B is lesser than C

In [30]:
# nested if-else syntax 
# if:
#     if:
#         block
#     elif:
#         block
#     else:
#         block
# elif:
#     if:
#         block
#     elif:
#         block
#     else:
#         block
# else:
#     if:
#         block
#     elif:
#         block
#     else:
#         block

In [31]:
# while loop syntax:
# while:
#     block

In [32]:
a = 10
while a < 0:
    print(a)
    a -= 1

In [33]:
a = 1
while a < 10:
    print(a)
    a += 2

1
3
5
7
9

In [34]:
# for loop syntax
# for variable in range (lower_end, higher_end):
#     block

In [35]:
for i in "Siddhartha":
    print (i)

S
i
d
d
h
a
r
t
h
a

In [36]:
for i in range (0,100):
    a = i/100
    print (a)

0.0
0.01
0.02
0.03
0.04
0.05
0.06
0.07
0.08
0.09
0.1
0.11
0.12
0.13
0.14
0.15
0.16
0.17
0.18
0.19
0.2
0.21
0.22
0.23
0.24
0.25
0.26
0.27
0.28
0.29
0.3
0.31
0.32
0.33
0.34
0.35
0.36
0.37
0.38
0.39
0.4
0.41
0.42
0.43
0.44
0.45
0.46
0.47
0.48
0.49
0.5
0.51
0.52
0.53
0.54
0.55
0.56
0.57
0.58
0.59
0.6
0.61
0.62
0.63
0.64
0.65
0.66
0.67
0.68
0.69
0.7
0.71
0.72
0.73
0.74
0.75
0.76
0.77
0.78
0.79
0.8
0.81
0.82
0.83
0.84
0.85
0.86
0.87
0.88
0.89
0.9
0.91
0.92
0.93
0.94
0.95
0.96
0.97
0.98
0.99

In [37]:
for i in range (1,11):
    for j in range (1,11):
        print (i*j,end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [38]:
# the above example is of nested for loop
# nested loops are created by using loop inside a loop
# syntax:
# for variable_name1 in range (lower_end, higher_end):
#     for variable_name2 in range (lower_end, higher_end):
#         block

In [39]:
# *
# **
# ***
# ****
for i in range (0,5):
    for j in range (i):
        print("*", end = " ")
    print ()

*
* *
* * *
* * * *

In [40]:
# 1
# 2 2
# 3 3 3
# 4 4 4 4 
# 5 5 5 5 5
# 6 6 6 6 6 6
# 7 7 7 7 7 7 7
# 8 8 8 8 8 8 8 8
# 9 9 9 9 9 9 9 9 9
for num in range(10):
    for i in range(num):
        print (num, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [41]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4 
# 1 2 3 4 5
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [42]:
# 1
# 2 1
# 3 2 1
# 4 3 2 1
# 5 4 3 2 1
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [43]:
#  1
#  2   1
#  4   2  1
#  8   4  2  1
# 16   8  4  2  1
# 32  16  8  4  2  1
# 64  32 16  8  4  2  1
# 128 64 32 16  8  4  2  1
lastNumber = 9
for i in range(1, lastNumber):
    for j in range(-1+i, -1, -1):
        print(format(2**j, "4d"), end=' ')
    print()

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [44]:
# 1
# 2 3 4
# 5 6 7 8 9
currentNumber = 1
stop = 2
rows = 3
for i in range(rows):
    for column in range(1, stop):
        print(currentNumber, end=' ')
        currentNumber += 1
    print("")
    stop += 2

1
2 3 4
5 6 7 8 9

In [45]:
#  1
#  3 2
#  6 5 4
# 10 9 8 7
start = 1
stop = 2
currentNumber = stop
for row in range(2, 6):
    for col in range(start, stop):
        currentNumber -= 1
        print (currentNumber, end=' ')
    print("")
    start = stop
    stop +=row
    currentNumber = stop

1
3 2
6 5 4
10 9 8 7

In [46]:
#             *   
#            *  *   
#           *  *  *   
#          *  *  *  *   
#         *  *  *  *  *   
#        *  *  *  *  *  *   
#       *  *  *  *  *  *  * 
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [47]:
# * * * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# * 
rows = int (input("Enter number of rows "))
for i in range (rows,-1,-1):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

Enter number of rows 6
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [48]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# * 
rows = input("Enter max star to be display on single line")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")
for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Enter max star to be display on single line5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [49]:
# 0 1 2 3 4 5 
# 0 1 2 3 4 
# 0 1 2 3 
# 0 1 2 
# 0 1 
# 0 
rows = input("Enter number of rows ")
rows = int (rows)
for i in range (rows,-1,-1):
    for j in range(0, i + 1):
        print(j, end=' ')
    print("\r")

Enter number of rows 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [50]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *
n = 5
k = 2*n - 2
for i in range(0, n):
    for j in range(0, k): 
        print(end=" ") 
    k = k - 2
    for j in range(0, i+1): 
            print("* ", end="") 
    print("\r")

        *
      * *
    * * *
  * * * *
* * * * *

In [51]:
#     *
#    * *
#   * * *
#  * * * *
# * * * * *
n = 5
k = 2*n - 2
for i in range(0, n): 
    for j in range(0, k): 
        print(end=" ") 
    k = k - 1
    for j in range(0, i+1): 
        print("* ", end="") 
    print("\r")

        *
       * *
      * * *
     * * * *
    * * * * *

In [52]:
#  1
#  2  3
#  4  5  6
#  7  8  9 10
# 11 12 13 14 15
n = 5
num = 1
for i in range(0, n): 
    for j in range(0, i+1): 
        print(num, end=" ") 
        num = num + 1
    print("\r")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [53]:
# A
# B B
# C C C
# D D D D
# E E E E E
num = 65 # ASCII value of A
for i in range(0, n): 
    for j in range(0, i+1): 
        ch = chr(num) #converting ascii to char
        print(ch, end=" ") 
    num = num + 1
    print("\r")

A
B B
C C C
D D D D
E E E E E

In [54]:
# A
# B C
# D E F
# G H I J
# K L M N O
n = 5
num = 65 #ASCII value of A
for i in range(0, n): 
    for j in range(0, i+1): 
        ch = chr(num) #converting ascii to char
        print(ch, end=" ") 
        num = num +1
    print("\r")

A
B C
D E F
G H I J
K L M N O

In [55]:
#   *
#  ***
# *****
n = 3
for i in range(1, n+1):
    print(" "*(n-i) + "*"*i + "*"*(i-1))

  *
 ***
*****

In [56]:
# 6 6 6 6 6 6
# 6 5 5 5 5 6
# 6 5 4 4 5 6
# 6 5 4 4 5 6
# 6 5 5 5 5 6
# 6 6 6 6 6 6 
n = int (input ())
for i in range(0,n):
    for j in range(0,n):
        print(max(i+1,j+1,n-i,n-j), end=" ")
    print()

6
6 6 6 6 6 6
6 5 5 5 5 6
6 5 4 4 5 6
6 5 4 4 5 6
6 5 5 5 5 6
6 6 6 6 6 6

In [57]:
# 5 5 5 5 5
# 5 4 4 4 5
# 5 4 3 4 5
# 5 4 4 4 5
# 5 5 5 5 5
n = 5
for i in range(n):
    for j in range(n):
        print(n-min(i, j, n-i-1, n-j-1), end = ' ' )
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [58]:
# 1 1 1 1 1
# 1 2 2 2 1
# 1 2 3 2 1
# 1 2 2 2 1
# 1 1 1 1 1
n = 5
for i in range(n):
    for j in range(n):
        print(n-max(i, j, n-i-1, n-j-1), end = ' ' )
    print()

1 1 1 1 1
1 2 2 2 1
1 2 3 2 1
1 2 2 2 1
1 1 1 1 1

In [59]:
# using break continue and pass

In [60]:
for i in range (0,20):
    if (i == 5):
        pass
    elif (i == 10):
        continue
    elif (i ==15):
        break
    else:
        print (i)

0
1
2
3
4
6
7
8
9
11
12
13
14

In [61]:
#id comparision and using is operator

In [62]:
a = 10
b = 10
print (id (a))
print (id (b))

1399874800
1399874800

In [63]:
print (a is b)

True

In [64]:
#reasoning question...
n = 1.2 + 1.4 + 1.6
print (n)

4.199999999999999

In [65]:
# functions
# syntax:
# def function_name():
#     block

In [66]:
def func():
    print ("Hello World")

In [67]:
func()

Hello World

In [68]:
# functions with parameters
# syntax:
# def function_name (variable1, variable2, ...):
#     block:

In [69]:
def printing_lines(var1, var2 = "random"):
    print ("repeat {} {}".format (var1,var2))
    print ("repeat {} {}".format (var1,var2))
    print ("repeat {} {}".format (var1,var2))
printing_lines("hello","there")
print("seperation")
printing_lines("variables are")

repeat hello there
repeat hello there
repeat hello there
seperation
repeat variables are random
repeat variables are random
repeat variables are random

In [70]:
# functions with returning values
# syntax:
# def function_name (variable1, variable2, ...):
#     block
#     return condtion

In [73]:
a = int(input ())
b = int(input ())
c = int(input ())
def returnaddmul(a, b, c):
    print(a+b+c)
    print(a*b*c)
    return a+b+c, a*b*c, "Yeah!" 
# multiple returns can not be used but one return can be used for multiple uses
returnaddmul(a,b,c)

54
23
523
600
649566

(600, 649566, 'Yeah!')

In [72]:
# args and kwargs 
# args are used for the unassigned data variable in the function parameters when too many inputs are given
# by the user and the programmer has no idea about the input data or width
# used as: *args        type: tuple
# kwargs are used when the there are unassigned data to be passed along with there keywords that are to be
# stored by the programmer when the user input amount is uncertain
# used as: **kwargs     type: dictionary

In [74]:
def some_func(a,b,*args,**kwargs):
    print(a)
    print(b)
    print(args)
    print(args[1])
    print(kwargs)
    print(type(kwargs))
    
    print()
    
    for i in kwargs.items():
        print(i)
        
some_func("bipin","kalra","is","teaching","machine",d = "learning", c = "with", e = "Python")
# here "is", "teaching", "machine" are stored in *args and 
# d = "learning", c = "with", e = "Python" are stored in **kwargs

bipin
kalra
('is', 'teaching', 'machine')
teaching
{'d': 'learning', 'c': 'with', 'e': 'Python'}
<class 'dict'>

('d', 'learning')
('c', 'with')
('e', 'Python')

In [75]:
# local and global variables

In [76]:
# global variables are called explicitely for the proper invocation of the variable without error
x = 10

def somefunc1():
    global x
    print (x)
    x += 10
    print (x)

In [77]:
somefunc1()

10
20

In [78]:
# nonlocal variables are made to inherit the variables data from the parent function/class
def outer():
    x = 10
    
    def inner():
        nonlocal x # nonlocal keyword is used to access variables in your parent block's scope
        print (x)
        x += 5
        print (x)
    
    inner()
    print (x)
    
outer()

10
15
15

In [79]:
# lambda function
# lambda function are used for converion of the complex functions with the return statement to a
# single line function using the keyword lambda
# syntax:
# function_name = lambda var1, var2, ... : return_statement
# return_statement is the initial statement that was supposed to be retured by the function

In [80]:
add = lambda a, b : a + b
print (add(10,15))
print (add("Python","ML"))

25
PythonML

In [81]:
mul = lambda a, b : a * b
print (mul(10,15))
print (mul("hello ",3))
print (mul(3,"world "))

150
hello hello hello
world world world

In [82]:
a = [("abhinav",80,4),("somya",85,6),("anishka",60,1),("mukul",23,3),("kartikey",56,5)]

In [83]:
sorted(a)

[('abhinav', 80, 4),
 ('anishka', 60, 1),
 ('kartikey', 56, 5),
 ('mukul', 23, 3),
 ('somya', 85, 6)]

In [84]:
sorted(a,key = lambda x: x[2])

[('anishka', 60, 1),
 ('mukul', 23, 3),
 ('abhinav', 80, 4),
 ('kartikey', 56, 5),
 ('somya', 85, 6)]

In [85]:
# string

In [86]:
a = "Siddhartha"
a [2] = a

TypeError: 'str' object does not support item assignment

In [87]:
# in the above example we can clearly see that we can not change the value in a string 
# this is because the strings in python are immutable

In [88]:
alpha = "              Hello        my - name - is        Siddhartha - Satyarthi         "
print (alpha)
print (alpha.strip())
print (alpha.split("-"))

              Hello        my - name - is        Siddhartha - Satyarthi
Hello        my - name - is        Siddhartha - Satyarthi
['              Hello        my ', ' name ', ' is        Siddhartha ', ' Satyarthi         ']

In [89]:
# in the above example we can see that alpha.strip clears all the spaces that are present at the 
# begging and at the end of the string and the split functions breaks my string from the places
# where the function symbol is present and the default for this fucntion is space

In [90]:
len(alpha) # prints the length of the string

80

In [91]:
a = "Siddhartha" + "Satyarthi"
a

'SiddharthaSatyarthi'

In [92]:
# slicing: 
# slicing is used for the using the middle of the string as and when we wanted
# syntax:
# string_variable[staring_position:end_position]

In [93]:
a[3:12]

'dharthaSa'

In [94]:
# -1 is used for starting the indexing from opposite side and blanks are used to select complete string
a[::-1]

'ihtraytaSahtrahddiS'

In [95]:
#lists

In [96]:
a = [1, 2, 3, 4, 5]
print (type (a))

<class 'list'>

In [97]:
print (id (a))

100847904

In [98]:
a[3] = 12
print (a)

[1, 2, 3, 12, 5]

In [99]:
# as in above example we can see that the value assigned to the index is changed thus we can conclude
# that the strings are mutable

In [100]:
b = [1,2,3,4,5,6,"hello","my","name","is","siddhartha","satyarthi",[4,5,6,7,8],[2,54,4,6,32]]
for i in b:
    print (i)
# in the above example we can clearly see that list can hold muliple values and are heterogenous 
# collection of elements

1
2
3
4
5
6
hello
my
name
is
siddhartha
satyarthi
[4, 5, 6, 7, 8]
[2, 54, 4, 6, 32]

In [101]:
a = [1,2,3,4,5]
print (id (a[0]))
print (id (a))

1399874656
12128088

In [102]:
# appending and inserting

In [103]:
a = [1,2,3,4,5,6]
a.append(45)
print (a)
a.insert(4,12)
print (a)

[1, 2, 3, 4, 5, 6, 45]
[1, 2, 3, 4, 12, 5, 6, 45]

In [104]:
# removing elements from list using
# del
# pop
# remove

In [105]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
a.remove(5)
print (a)
a.pop()
print (a)
del a[2]
print (a)
del a
print (a)

[1, 2, 3, 4, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 4, 6, 7, 8, 9]

NameError: name 'a' is not defined

In [106]:
# sorting and reversing

In [107]:
a = [32,4234,2341,23123,235,1,123,12,1,12,123,1,12423,4]
sorted(a)

[1, 1, 1, 4, 12, 12, 32, 123, 123, 235, 2341, 4234, 12423, 23123]

In [108]:
print (a)
a.reverse()
print (a)

[32, 4234, 2341, 23123, 235, 1, 123, 12, 1, 12, 123, 1, 12423, 4]
[4, 12423, 1, 123, 12, 1, 12, 123, 1, 235, 23123, 2341, 4234, 32]

In [109]:
reversed(a)

In [110]:
print (a)
a.sort()
print (a)

[4, 12423, 1, 123, 12, 1, 12, 123, 1, 235, 23123, 2341, 4234, 32]
[1, 1, 1, 4, 12, 12, 32, 123, 123, 235, 2341, 4234, 12423, 23123]

In [111]:
# tuples

In [112]:
a = ("Siddhartha","Naman","Ekansh")

In [113]:
a

('Siddhartha', 'Naman', 'Ekansh')

In [114]:
# unlike list; tuples are immtable, that is the elements of tuples can't be accessed from outside

In [115]:
a[1] = "Jatin"

TypeError: 'tuple' object does not support item assignment

In [116]:
print (type (a))

<class 'tuple'>

In [117]:
#tuple to list and list to tuple
a = (1,2,3,4,5,6,7,8,9)
print (a)
print (type (a))
b = list(a)
print (b)
print (type(b))
c = tuple(b)
print (c)
print (type (c))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [118]:
b = (3,4,5,6,7,9.5,"bipin",[3,4,5],("bipin","kalra"))
b[-1][1][4]
# how does it works
# b[-1][1][4]
# first we will access the -1st element in the tuple given, i.e. ("Bipin","kalra") from the given tuple b
# then we will go to the 1st element of the tuple, i.e "kalra" from ("bipin","kalra")
# then we will access the 4th element of "kalra", i.e "a" and hence the output

'a'

In [119]:
# dictionary
# syntax:
# a = {
#     key1 : attribute1,
#     key2 : attribute2,
#     key3 : attribute3,
#     .
#     .
#     .
# }
# in a dictionary the key can be an integer, string, list or tuple and same goes for the attributes
# also dictionary are immutable objects

In [120]:
a = {
    "Name" : "Siddhartha",
    "Age" : 20,
    "Gender" : "Male",
    "Marks" : 100
}
print (a)
print (type (a))

{'Name': 'Siddhartha', 'Age': 20, 'Gender': 'Male', 'Marks': 100}
<class 'dict'>

In [121]:
# dictinary and its functions 
a = {
    "name" : "bipin",
    (1,2,3) : ["maths","science","c++"],
    "marks" : (1,45,36),
    "dict" : {
        "1" : "one",
        '2' :"two"
    }
}
print (a)
a["abc"] = [1,2,3,4,4]
print (a)
a["abc"] = 4
print (a)
key = input()
a[key] = input()
print (a)
a[input()] = input() 
# int the above statement the input goes in reverse cronological order i.e. the attribute is 
# assigned first and then key is assigned 
print (a)

{'name': 'bipin', (1, 2, 3): ['maths', 'science', 'c++'], 'marks': (1, 45, 36), 'dict': {'1': 'one', '2': 'two'}}
{'name': 'bipin', (1, 2, 3): ['maths', 'science', 'c++'], 'marks': (1, 45, 36), 'dict': {'1': 'one', '2': 'two'}, 'abc': [1, 2, 3, 4, 4]}
{'name': 'bipin', (1, 2, 3): ['maths', 'science', 'c++'], 'marks': (1, 45, 36), 'dict': {'1': 'one', '2': 'two'}, 'abc': 4}
maths
book
{'name': 'bipin', (1, 2, 3): ['maths', 'science', 'c++'], 'marks': (1, 45, 36), 'dict': {'1': 'one', '2': 'two'}, 'abc': 4, 'maths': 'book'}
alpha
omega
{'name': 'bipin', (1, 2, 3): ['maths', 'science', 'c++'], 'marks': (1, 45, 36), 'dict': {'1': 'one', '2': 'two'}, 'abc': 4, 'maths': 'book', 'omega': 'alpha'}

In [123]:
n = int (input ("Enter the nuber of your entries:"))
res = []
for i in range(n):
    roll = int(input())
    name = input()
    branch = input()
    d = {
        "roll": roll,
        "name": name,
        "branch": branch
    }
    
    res.append(d)

Enter the nuber of your entries:3
1
sid
cse
2
naman
it
3
ekansh
eee

In [124]:
# Sets
# Sets are unordered collections of simple objects.
# These are used when the existence of an object in a collection is more 
# important than the order or how many times it occurs.
# Using sets, you can test for membership, whether it is a subset of another set,
# find the intersection between two sets, and so on.

In [125]:
a = [4,5,6,2,1,3,1,1,5,5,6,4,3,2,1]
b = sorted(set(a))[-2]
print (b)

5

In [126]:
print(set(a))

{1, 2, 3, 4, 5, 6}

In [127]:
a = {4,6,9,10,12,1}
b = {1,2,3,4,5,6}

In [128]:
a.intersection(b)

{1, 4, 6}

In [129]:
a.union(b)

{1, 2, 3, 4, 5, 6, 9, 10, 12}

In [130]:
a - b

{9, 10, 12}

In [131]:
print([[i*j for j in range(1,11)] for i in range(1,11)]) # printing and using loops in 1 single line

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [132]:
# modules
# statements listed below are modules
import math

In [133]:
# classes
# syntax:
# class class_name:
#     def class_function_name1 (self, parameter1, parameter2,...):
#         block
#         return statement(s)
#     def class_function_name2 (self, parameter1, parameter2,...):
#         block
#         return statement(s)
#     .
#     .
#     .
# self is a must parameter for a function in a class, this is becuase the keyword self works as a 
# pointer to the parameters itself of the function of a class

In [1]:
#empty class
class Person:
    pass

p = Person() # constructor & destructor doesnt exist in python
print(p)

<__main__.Person object at 0x05DEBD90>

In [134]:
class Person:
    
    name = "jatin"
    
    def __init__(self):
        pass
    
    def say_hi(context):
        print('Hello, how are you ' + context.name +  "?")
        
    def change(self):
        self.name = "bipin"
p = Person()
print(p.name)
p.say_hi()
p.change()
p.say_hi()

p1 = Person()
p1.say_hi()

jatin
Hello, how are you jatin?
Hello, how are you bipin?
Hello, how are you jatin?

In [135]:
class Person:
    def __init__(self, name):
        self.name = "jatin"

    def say_hi(self):
        print('Hello, my name is', self.name)

p = Person('Nikhil')
p.say_hi()

Hello, my name is jatin

In [136]:
class Dog:
    kind = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance
    def change_kind(self, kind):
        self.kind = kind
        
tommy = Dog('tommy')
tommy.change_kind('pug')

print(tommy.name)
print(tommy.kind)

tommy2 = Dog('tommy2')
print(tommy2.name)
print(tommy2.kind)

tommy
pug
tommy2
canine

In [137]:
class Dog:

    tricks = set()          # mistaken use of a class variable

    def __init__(self, name):
        self.name = name

    def add_trick(self, trick):
        self.tricks.add(trick)
        

dog1 = Dog("adam")
dog1.add_trick("jump")
print(dog1.tricks)

dog2 = Dog("sweeny")
dog2.add_trick("something")
print(dog2.tricks)


dog3 = Dog("klasjdfl")
print(dog3.tricks)

{'jump'}
{'something', 'jump'}
{'something', 'jump'}

In [2]:
#__something__(self) is called a magic function and self is compulsary

In [4]:
class student:
    def info(self,name,branch):
        self.name = name
        self.branch = branch
    def marks(self,marks1,marks2):
        self.marks1 = marks1
        self.marks2 = marks2
    def display(self):
        print (self.name,self.branch,self.marks1,self.marks2)
        
p = student()
p.info("Siddhartha","CSE")
p.marks(70,80)
p.display()

Siddhartha CSE 70 80

In [5]:
class A:
    x = 25
    
class B(A):
    x = 15

class C(B):
    pass #classes.py file look...

class D(A):
    pass

class E(D):
    x = 25

class F(E, C):
    def show(self):
        print(self.x)

In [6]:
f = F()
f.show()

25

In [7]:
# we can clearly see that 
#          A
#      /      \
#     B        D
#     |        |
#     C        E
#      \     /
#         F
# this is the pyramidical method that is being followed 
# so if there are 2 sub classes that are being called from one root class and then these classes are 
# converted to one single class given that the number of legs of each sub class are equal then 
# the value is assigned to the paramerter that is being called first and if the number of legs are not
# equal in the value then the one closest to the last class is assigned the value to the sub class.
# in the example below the value of 'C' is passed to 'E'
#           A
#        /    \
#       B     |
#      |      D
#      C     |
#       \   /
#         E

In [138]:
# inheritance 
class SchoolMember:
    '''Represents any school member.'''
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('(Initialized SchoolMember: {})'.format(self.name))
        self.base()

    def tell(self):
        '''Tell my details.'''
        print('Name:"{}" Age:"{}"'.format(self.name, self.age), end=" ")
        
    def base(self):
        print("heya !")

class Teacher(SchoolMember):
    '''Represents a teacher.'''
    def __init__(self, name, age, salary):
        SchoolMember.__init__(self, name, age)
#         self.name = name
#         self.age = age
        self.salary = salary
        print('(Initialized Teacher: {})'.format(self.name))
        self.base()

    def tell(self):
        SchoolMember.tell(self)
        print('Salary: "{:d}"'.format(self.salary))
        
        
class Student(SchoolMember):
    '''Represents a student.'''
    def __init__(self, name, age, marks):
        SchoolMember.__init__(self, name, age)
        self.marks = marks
        print('(Initialized Student: {})'.format(self.name))

    def tell(self):
        SchoolMember.tell(self)
        print('Marks: "{:d}"'.format(self.marks))

        
t = Teacher('Mr. Ujjwal', 40, 30000)
s = Student('Nikhil', 25, 75)

(Initialized SchoolMember: Mr. Ujjwal)
heya !
(Initialized Teacher: Mr. Ujjwal)
heya !
(Initialized SchoolMember: Nikhil)
heya !
(Initialized Student: Nikhil)

In [139]:
class A:
    pass
class B(A):
    x = 5
class C(B):
    pass
class D(A):
    x = 10

class E( C, D):
    def show(self):
        print(self.x)
        
e = E()
e.show()

5

In [140]:
# magic functions

In [141]:
class Car:
    def __init__(self, model, mileage):
        self.model = model
        self.mileage = mileage
    
    def __str__(self):
        return "model: {} mileage: {}".format(self.model, self.mileage)
    
    def __eq__(self, other):
        return self.mileage == other.mileage
    
    def __gt__(self, other):
        return self.mileage > other.mileage
    
    def __lt__(self, other):
        return False

    def __add__(self, other):
        return self.mileage + other.mileage

c = Car('Suzuki', 16)
print(str(c))

model: Suzuki mileage: 16

In [142]:
c1 = Car('a',2)
c2 = Car('b', 3)

In [143]:
c1 < c2

False

In [144]:
c1 + c2

5